<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    spring通过class全路径，反射创建对象-->
<!--    id是spring容器中beanDefinitionMap的k, 如果没指定id则给的是全类名#id-->
    <bean class="org.bean.Monster">
<!--        底层通过set方法完成-->
        <property name="monsterID" value="100"/>
        <property name="name" value="牛魔王"/>
        <property name="skill" value="飞天"/>
    </bean>

<!--    <bean class="org.bean.Monster" id="monster02">-->
<!--        <property name="monsterID" value="100"/>-->
<!--        <property name="name" value="牛魔王"/>-->
<!--        <property name="skill" value="飞天"/>-->
<!--    </bean>-->

<!--    <bean class="org.bean.Monster">-->
<!--        <property name="monsterID" value="100"/>-->
<!--        <property name="name" value="牛魔王"/>-->
<!--        <property name="skill" value="飞天"/>-->
<!--    </bean>-->
<!--    构造器注入-->
    <bean class="org.bean.Monster" id="monster03">
        <constructor-arg name="monsterID" value="100"/>
        <constructor-arg name="name" value="牛魔王"/>
        <constructor-arg name="skill" value="飞天"/>
    </bean>
    <bean class="org.bean.Monster" id="monster04">
        <constructor-arg value="100" index="0"/>
        <constructor-arg value="牛魔王" index="1"/>
        <constructor-arg value="飞天" index="2"/>
    </bean>
    <bean class="org.bean.Monster" id="monster05">
        <constructor-arg value="100" type="java.lang.Integer"/>
        <constructor-arg value="牛魔王" type="java.lang.String"/>
        <constructor-arg value="飞天" type="java.lang.String"/>
    </bean>
<!--    p名称空间注入-->
<!--    <bean class="org.bean.Monster" id="monster06">-->
<!--        p:monsterID="100"-->
<!--        p:name="牛魔王"-->
<!--        p:skill="飞天"-->
<!--    </bean>-->

<!--    依赖注入-->
    <bean class="org.dao.MemberDaoImpl" id="memberDao"/>
    <bean class="org.service.MemberServiceImpl" id="memberService">
        <property name="memberDao" ref="memberDao"/>
    </bean>
    <bean class="org.service.MemberServiceImpl" id="memberService2">
<!--        可以通过内部bean注入-->
        <property name="memberDao">
            <bean class="org.dao.MemberDaoImpl"/>
        </property>
    </bean>
<!--    通过factoryBean创建bean-->
    <bean id="monster06" class="org.factory.MyFactoryBean">
        <property name="key" value="monster01"/>
    </bean>
</beans>
